---
import SidebarShell from './SidebarShell.astro';

const { description } = Astro.props as { description: string };
---

<SidebarShell
  position="right"
  sidebarId="rightSidebar"
>
  <div class="sidebar-inner">
    <!-- 上栏：目录区 -->
    <div class="toc-area">
      <div class="position-indicator"></div>
      <h3>目录</h3>
      <ul id="toc-list"></ul>
    </div>
    <hr/>
    <!-- 下栏：简介区 -->
    <div class="desc-area">
      <p set:html={description}></p>
    </div>
  </div>
</SidebarShell>

<script src="../../scripts/sidebar-collapse"></script>
