---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="你好！"
	pubDate={new Date('April 23 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		我是user1-cloud
	</p>

	<p>
		名字确实有点长，那简称u1吧
	</p>
</Layout>
