---
const AboutHeroImage = 'https://avatars.githubusercontent.com/u/177993181?v=4';
import Layout from '../layouts/BlogPost.astro';
import ReadmeContent from '../../README.md';
---

<Layout
	title="关于我"
	description="你好！"
	pubDate={new Date('April 23 2026')}
	heroImage={AboutHeroImage}
>
	<h2>
		个人信息
	</h2>

	<h3>
		我是谁？
	</h3>

	<p>
		我是user1-cloud
	</p>

	<h3>
		联系我
	</h3>

	<h4>
		邮箱
	</h4>

	<p>
		QQ邮箱：
	<a href="mailto:2931139019@qq.com" target="_blank">2931139019@qq.com</a>	
	<br>
		Outlook：
	<a href="mailto:easbeasbeasb@outlook.com" target="_blank">easbeasbeasb@outlook.com</a>	
	</p>

	<h2>
		网页自述
	</h2>

	<div class="markdown-body">
		<ReadmeContent />
	</div>
</Layout>
