---
const AboutHeroImage = 'https://avatars.githubusercontent.com/u/177993181?v=4';
import Layout from '../layouts/BlogPost.astro';
import JsonLd from '../components/JsonLd.astro';
import ReadmeContent from '../../README.md';

const aboutUrl = new URL('/about/', Astro.site).href;

const profilePageLd = {
	'@context': 'https://schema.org',
	'@type': 'ProfilePage',
	mainEntity: {
		'@type': 'Person',
		name: 'user1-cloud',
		image: AboutHeroImage,
		url: aboutUrl,
		email: ['2931139019@qq.com', 'easbeasbeasb@outlook.com'],
	},
};
---

<Layout
	title="关于"
	description="关于此项目"
	pubDate={new Date('April 23 2026')}
	heroImage={AboutHeroImage}
>
	<JsonLd slot="head" data={profilePageLd} />
	<h2>
		个人信息
	</h2>

	<h3>
		我是谁？
	</h3>

	<p>
		我是user1-cloud
	</p>

	<h3>
		联系我
	</h3>

	<h4>
		邮箱
	</h4>

	<p>
		QQ邮箱：
	<a href="mailto:2931139019@qq.com" target="_blank">2931139019@qq.com</a>	
	<br>
		Outlook：
	<a href="mailto:easbeasbeasb@outlook.com" target="_blank">easbeasbeasb@outlook.com</a>	
	</p>

	<h2>
		网页自述
	</h2>

	<div class="markdown-body">
		<ReadmeContent />
	</div>
</Layout>
