---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="u1的书房"
	description={SITE_DESCRIPTION}
	pubDate={new Date()}
>
	<p>
		你好！我是user1-cloud，欢迎来到我的个人主页。
	</p>
</Layout>