---
const today = new Date();
import HeaderSocialLinks from './HeaderSocialLinks.astro'
---

<footer class="fade-down-on-scroll">
	&copy; {today.getFullYear()} 
	<a href="/about">user1-cloud</a>.
	All rights reserved.
	Built with <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>
	<div style="margin-top: 0.5em;">
		<HeaderSocialLinks/>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: transparent;
		color: var(--foreground);
		text-align: center;
	}
</style>
