---
import { BILIBILI_URL, QQ_SPACE_URL, GITHUB_URL } from '../../consts';
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
---
<div class="social-links">
    <HeaderLink href={BILIBILI_URL} target="_blank">
        <span class="sr-only">我的bilibili账号</span>
        <Icon name='bilibili'>
    </HeaderLink>
    <HeaderLink href={QQ_SPACE_URL} target="_blank">
        <span class="sr-only">我的qq空间</span>
        <Icon name='qq'>
    </HeaderLink>
    <HeaderLink href={GITHUB_URL} target="_blank">
        <span class="sr-only">我的GitHub</span>
        <Icon name='github'>
    </HeaderLink>
</div>

<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 0.35em;
	}
</style>
